Repository Exotelis/skydivemanifest, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, admin, api

admin: update - Datatable and RolePage
  administration/README.md
  administration/src/components/datatable/Datatable.vue
  administration/src/components/datatable/__tests__/Datatable.spec.ts
  administration/src/mixins/configs/UserRoleMixin.ts
  administration/src/models/datatable/DatatableColumnModel.ts
Labels: documentation, admin

admin: update - Update the UsersPage and UserRolesPage
  administration/src/components/pages/UserRolesPage.vue
  administration/src/components/pages/UsersPage.vue
  administration/src/components/pages/__tests__/UserRolesPage.spec.ts
  administration/src/components/pages/__tests__/UsersPage.spec.ts
Labels: admin

admin: last commit
  administration/src/components/ui/LanguageSelector.vue
  administration/src/components/ui/__tests__/LanguageSelector.spec.ts
Labels: admin

api: update - Update clear users job
  api/app/Jobs/User/ClearUsers.php
  api/config/app.php
Labels: api

api: initial commit
  api/app/Events/User/Create.php
  api/app/Events/User/Delete.php
  api/app/Http/Middleware/EnsureTosAreAccepted.php
  api/app/Http/Requests/Auth/TosRequest.php
  api/app/Http/Requests/User/CreateRequest.php
  api/app/Http/Requests/User/UpdateRequest.php
  api/app/Listeners/User/Created.php
  api/app/Listeners/User/Deleted.php
  api/app/Mail/DeleteUser.php
  api/app/Rules/CannotChangeOwnRole.php
  api/app/Rules/CannotDisableOwnAccount.php
  api/resources/lang/de/tos.php
  api/resources/lang/en/tos.php
  api/resources/views/mails/user/delete.blade.php
  api/resources/views/mails/user/delete_plain.blade.php
  api/tests/Feature/Tos/TosResourceTest.php
Labels: api

admin: update - Add tos to registration processs
  administration/src/components/pages/RegisterPage.vue
  administration/src/components/pages/__tests__/RegisterPage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/models/RegisterModel.ts
Labels: admin

api: fix - Auto generated email and username
  api/database/factories/UserFactory.php
Labels: api

api: fix - Add comment, remove constructor
  api/app/Rules/NotAdmin.php
  api/app/Rules/NotCurrentUser.php
Labels: api

api: fix - Fix/Improve the signOut method.
  api/app/Models/User.php
Labels: api

api: add - App terms of service resource
  api/app/Http/Middleware/ChangePassword.php
  api/app/Http/Middleware/EnsureAccountIsActive.php
  api/app/Http/Middleware/EnsureEmailIsVerified.php
  api/app/Http/Middleware/EnsureTosAreAccepted.php
  api/resources/lang/de/tos.php
  api/resources/lang/en/tos.php
  api/routes/api.php
  api/tests/Feature/Tos/TosResourceTest.php
Labels: api

admin: initial commit
  administration/src/components/pages/AcceptTosPage.vue
  administration/src/components/pages/__tests__/AcceptTosPage.spec.ts
Labels: admin

admin: add - Add AcceptTosPage
  administration/src/components/pages/AcceptTosPage.vue
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/PasswordChangePage.vue
  administration/src/components/pages/RegisterPage.vue
  administration/src/components/pages/__tests__/AcceptTosPage.spec.ts
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/components/pages/__tests__/PasswordChangePage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/models/UserShortModel.ts
  administration/src/router/__tests__/router.spec.ts
  administration/src/router/router.ts
  administration/src/router/routes.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

api: initial commit
  api/app/Http/Requests/Auth/RestoreRequest.php
  api/app/Jobs/Auth/ClearRestoreUsers.php
  api/app/Mail/RestoreUser.php
  api/app/Mail/SoftDeleteUser.php
  api/app/Notifications/RestoreUser.php
  api/app/Notifications/SoftDeleteUser.php
  api/app/Observers/BaseObserver.php
  api/app/Observers/RoleObserver.php
  api/app/Observers/UserObserver.php
  api/app/Providers/ObserverServiceProvider.php
  api/app/Traits/ExceptRoute.php
  api/database/migrations/2020_03_14_000150_create_restore_users_table.php
  api/resources/views/mails/user/restore.blade.php
  api/resources/views/mails/user/restore_plain.blade.php
  api/resources/views/mails/user/soft-delete.blade.php
  api/resources/views/mails/user/soft-delete_plain.blade.php
Labels: api

api: last commit
  api/app/Events/User/Create.php
  api/app/Events/User/Delete.php
  api/app/Listeners/User/Created.php
  api/app/Listeners/User/Deleted.php
Labels: api

api: initial commit
  api/app/Jobs/User/DeleteInactiveUsers.php
  api/app/Jobs/User/DeleteUnverifiedUsers.php
Labels: api

api: update - User deletion management
  api/app/Console/Kernel.php
  api/app/Jobs/User/ClearUsers.php
  api/app/Jobs/User/DeleteInactiveUsers.php
  api/app/Jobs/User/DeleteUnverifiedUsers.php
  api/app/Mail/DeleteUser.php
Labels: api

api: initial commit
  api/app/Filters/AddressFilters.php
  api/app/Http/Controllers/AddressController.php
  api/app/Http/Requests/Address/CreateRequest.php
  api/app/Http/Requests/Address/UpdateRequest.php
  api/app/Observers/AddressObserver.php
  api/tests/Feature/Address/AddressResourcesTest.php
Labels: api

api: add - Address resources
  api/app/Filters/AddressFilters.php
  api/app/Http/Controllers/AddressController.php
  api/app/Http/Controllers/UserController.php
  api/app/Http/Requests/Address/CreateRequest.php
  api/app/Http/Requests/Address/UpdateRequest.php
  api/app/Models/Address.php
  api/app/Models/Country.php
  api/app/Models/Region.php
  api/app/Models/User.php
  api/app/Observers/AddressObserver.php
  api/app/Providers/ObserverServiceProvider.php
  api/resources/lang/de/messages.php
  api/resources/lang/de/validation.php
  api/resources/lang/en/messages.php
  api/resources/lang/en/validation.php
  api/routes/api.php
  api/tests/Feature/Address/AddressResourcesTest.php
  api/tests/TestCase.php
Labels: api

api: initial commit
  api/app/Filters/CountryFilters.php
  api/app/Http/Controllers/CountryController.php
  api/app/Http/Requests/Country/CreateRequest.php
  api/app/Http/Requests/Country/UpdateRequest.php
  api/app/Observers/CountryObserver.php
  api/tests/Feature/Country/CountryResourcesTest.php
Labels: api

api: add - Country resources
  api/app/Filters/CountryFilters.php
  api/app/Http/Controllers/CountryController.php
  api/app/Http/Requests/Country/CreateRequest.php
  api/app/Http/Requests/Country/UpdateRequest.php
  api/app/Observers/CountryObserver.php
  api/app/Providers/ObserverServiceProvider.php
  api/resources/lang/de/messages.php
  api/resources/lang/de/validation.php
  api/resources/lang/en/messages.php
  api/resources/lang/en/validation.php
  api/routes/api.php
  api/tests/Feature/Country/CountryResourcesTest.php
Labels: api

api: update - Parameter names
  api/app/Http/Requests/Country/UpdateRequest.php
  api/app/Http/Requests/Role/UpdateRequest.php
  api/app/Http/Requests/User/UpdateRequest.php
  api/app/Rules/CannotChangeOwnRole.php
  api/app/Rules/CannotDisableOwnAccount.php
  api/routes/api.php
Labels: api

api: initial commit
  api/app/Filters/CurrencyFilters.php
  api/app/Http/Controllers/CurrencyController.php
  api/app/Http/Requests/Currency/CreateRequest.php
  api/app/Http/Requests/Currency/DeleteBulkRequest.php
  api/app/Http/Requests/Currency/UpdateRequest.php
  api/app/Observers/CurrencyObserver.php
  api/database/factories/CurrencyFactory.php
  api/tests/Feature/Currency/CurrencyResourcesTest.php
Labels: api

api: add - Currency resources
  api/app/Filters/CurrencyFilters.php
  api/app/Http/Controllers/CurrencyController.php
  api/app/Http/Requests/Currency/CreateRequest.php
  api/app/Http/Requests/Currency/DeleteBulkRequest.php
  api/app/Http/Requests/Currency/UpdateRequest.php
  api/app/Models/Currency.php
  api/app/Observers/CurrencyObserver.php
  api/app/Providers/ObserverServiceProvider.php
  api/database/factories/CurrencyFactory.php
  api/resources/lang/de/messages.php
  api/resources/lang/de/validation.php
  api/resources/lang/en/messages.php
  api/resources/lang/en/validation.php
  api/routes/api.php
  api/tests/Feature/Currency/CurrencyResourcesTest.php
Labels: api

api: initial commit
  api/app/Filters/RegionFilters.php
  api/app/Http/Controllers/RegionController.php
  api/app/Http/Requests/Region/CreateRequest.php
  api/app/Http/Requests/Region/UpdateRequest.php
  api/app/Observers/RegionObserver.php
  api/tests/Feature/Region/RegionResourcesTest.php
Labels: api

api: add - Region resources
  api/app/Filters/RegionFilters.php
  api/app/Http/Controllers/CountryController.php
  api/app/Http/Controllers/RegionController.php
  api/app/Http/Requests/Region/CreateRequest.php
  api/app/Http/Requests/Region/UpdateRequest.php
  api/app/Models/Country.php
  api/app/Models/Region.php
  api/app/Observers/RegionObserver.php
  api/app/Providers/ObserverServiceProvider.php
  api/database/factories/RegionFactory.php
  api/resources/lang/de/messages.php
  api/resources/lang/en/messages.php
  api/routes/api.php
  api/tests/Feature/Region/RegionResourcesTest.php
Labels: api

api: update - Update migrations
  api/database/migrations/2020_03_14_000020_create_roles_table.php
  api/database/migrations/2020_03_14_000040_create_users_table.php
  api/database/migrations/2020_03_14_000070_create_addresses_table.php
Labels: api

api: initial commit
  api/app/Filters/AircraftFilters.php
  api/app/Filters/AircraftMaintenanceFilters.php
  api/app/Http/Controllers/AircraftController.php
  api/app/Http/Controllers/AircraftMaintenanceController.php
  api/app/Http/Requests/Aircraft/CreateRequest.php
  api/app/Http/Requests/Aircraft/UpdateRequest.php
  api/app/Http/Requests/AircraftMaintenance/CompleteRequest.php
  api/app/Http/Requests/AircraftMaintenance/CreateRequest.php
  api/app/Http/Requests/AircraftMaintenance/UpdateRequest.php
  api/app/Jobs/AircraftMaintenance/SendMaintenanceNotification.php
  api/app/Mail/AircraftMaintenance.php
  api/app/Models/Aircraft.php
  api/app/Models/AircraftMaintenance.php
  api/app/Observers/AircraftMaintenanceObserver.php
  api/app/Observers/AircraftObserver.php
  api/database/factories/AircraftFactory.php
  api/database/factories/AircraftMaintenanceFactory.php
  api/database/migrations/2020_03_14_000160_create_aircraft_table.php
  api/database/migrations/2020_03_14_000170_create_aircraft_maintenance_table.php
  api/database/seeders/AircraftMaintenanceSeeder.php
  api/database/seeders/AircraftSeeder.php
  api/resources/views/mails/aircraft_maintenance/aircraft_maintenance.blade.php
  api/resources/views/mails/aircraft_maintenance/aircraft_maintenance_plain.blade.php
  api/tests/Feature/Aircraft/AircraftResourcesTest.php
  api/tests/Feature/AircraftMaintenance/AircraftMaintenanceResourcesTest.php
Labels: api

api: update - Routes and model bindings
  api/app/Http/Controllers/AddressController.php
  api/app/Http/Controllers/CountryController.php
  api/app/Http/Controllers/CurrencyController.php
  api/app/Http/Controllers/RegionController.php
  api/app/Http/Controllers/RoleController.php
  api/app/Http/Controllers/UserController.php
  api/app/Http/Middleware/EnsureEmailIsVerified.php
  api/app/Http/Requests/Country/UpdateRequest.php
  api/app/Http/Requests/Currency/UpdateRequest.php
  api/app/Http/Requests/Region/CreateRequest.php
  api/app/Http/Requests/Region/UpdateRequest.php
  api/app/Http/Requests/Role/UpdateRequest.php
  api/app/Http/Requests/User/UpdateRequest.php
  api/app/Providers/RouteServiceProvider.php
  api/app/Rules/CannotChangeOwnRole.php
  api/app/Rules/CannotDisableOwnAccount.php
  api/app/Traits/ExceptRoute.php
  api/routes/api.php
  api/tests/Feature/Address/AddressResourcesTest.php
  api/tests/Feature/AircraftMaintenance/AircraftMaintenanceResourcesTest.php
  api/tests/Feature/Region/RegionResourcesTest.php
  api/tests/Feature/Role/RoleResourcesTest.php
  api/tests/Feature/User/UserResourcesTest.php
  api/tests/TestCase.php
Labels: api

api: update - Remove unnecessary methods
  api/app/Models/Country.php
  api/app/Models/User.php
Labels: api

api: initial commit
  api/storage/app/spa/.gitkeep
Labels: api

api: update - Log messages
  api/app/Contracts/Logable.php
  api/app/Http/Controllers/RoleController.php
  api/app/Http/Controllers/UserController.php
  api/app/Models/Address.php
  api/app/Models/Aircraft.php
  api/app/Models/AircraftMaintenance.php
  api/app/Models/Country.php
  api/app/Models/Currency.php
  api/app/Models/Qualification.php
  api/app/Models/Region.php
  api/app/Models/Role.php
  api/app/Models/User.php
  api/app/Observers/AddressObserver.php
  api/app/Observers/AircraftMaintenanceObserver.php
  api/app/Observers/AircraftObserver.php
  api/app/Observers/BaseObserver.php
  api/app/Observers/CountryObserver.php
  api/app/Observers/CurrencyObserver.php
  api/app/Observers/QualificationObserver.php
  api/app/Observers/RegionObserver.php
  api/app/Observers/RoleObserver.php
  api/app/Observers/UserObserver.php
  api/app/Traits/ModelDiff.php
  api/app/helpers.php
  api/tests/Feature/User/UserResourcesTest.php
  api/tests/Unit/HelperFunctionsTest.php
Labels: api

api: update - Make the user id unique
  api/app/Observers/UserObserver.php
  api/database/migrations/2020_03_14_000150_create_restore_users_table.php
Labels: api

core: add - Back- and Frontend bundling
  README.md
Labels: core, documentation

api: add - Add spa route and symlink documentation
  api/.gitignore
  api/README.md
  api/config/filesystems.php
  api/routes/web.php
  api/storage/app/.gitignore
Labels: documentation, api

admin: add - Add environment variables
  administration/.env
  administration/src/router/router.ts
  administration/vue.config.js
Labels: admin

api: update - Some bug fixing and improvements
  api/app/Console/Commands/CreateAdminUserCommand.php
  api/app/Http/Controllers/CurrencyController.php
  api/app/Http/Controllers/UserController.php
  api/app/Http/Requests/Aircraft/UpdateRequest.php
  api/app/Http/Requests/Country/UpdateRequest.php
  api/app/Http/Requests/Currency/UpdateRequest.php
  api/app/Http/Requests/Region/UpdateRequest.php
  api/app/Http/Requests/Role/UpdateRequest.php
  api/app/Http/Requests/User/UpdateRequest.php
  api/database/factories/UserFactory.php
  api/database/migrations/2020_03_14_000030_create_permission_role_table.php
  api/database/migrations/2020_03_14_000040_create_users_table.php
  api/database/migrations/2020_03_14_000070_create_addresses_table.php
  api/database/migrations/2020_03_14_000150_create_restore_users_table.php
  api/resources/lang/en/messages.php
  api/routes/api.php
  api/tests/Feature/Address/AddressResourcesTest.php
  api/tests/Feature/Aircraft/AircraftResourcesTest.php
  api/tests/Feature/Country/CountryResourcesTest.php
  api/tests/Feature/Currency/CurrencyResourcesTest.php
  api/tests/Feature/Region/RegionResourcesTest.php
  api/tests/Feature/Role/RoleResourcesTest.php
  api/tests/Feature/User/UserResourcesTest.php
  api/tests/Unit/Console/CreateAdminUserCommandTest.php
Labels: api

api: initial commit
  api/app/Filters/QualificationFilters.php
  api/app/Http/Controllers/QualificationController.php
  api/app/Http/Requests/Qualification/CreateRequest.php
  api/app/Http/Requests/Qualification/DeleteBulkRequest.php
  api/app/Http/Requests/Qualification/UpdateRequest.php
  api/app/Http/Requests/User/QualificationsRequest.php
  api/app/Models/Qualification.php
  api/app/Observers/QualificationObserver.php
  api/database/factories/QualificationFactory.php
  api/database/migrations/2020_03_14_000180_create_qualifications_table.php
  api/database/migrations/2020_03_14_000190_create_qualification_user_table.php
  api/database/seeders/QualificationSeeder.php
  api/tests/Feature/Qualification/QualificationResourcesTest.php
Labels: api

api: add - Qualifications management
  api/app/Filters/QualificationFilters.php
  api/app/Http/Controllers/QualificationController.php
  api/app/Http/Controllers/UserController.php
  api/app/Http/Requests/Qualification/CreateRequest.php
  api/app/Http/Requests/Qualification/DeleteBulkRequest.php
  api/app/Http/Requests/Qualification/UpdateRequest.php
  api/app/Http/Requests/User/QualificationsRequest.php
  api/app/Models/Qualification.php
  api/app/Models/User.php
  api/app/Observers/QualificationObserver.php
  api/app/Providers/ObserverServiceProvider.php
  api/app/Providers/RouteServiceProvider.php
  api/database/factories/QualificationFactory.php
  api/database/migrations/2020_03_14_000180_create_qualifications_table.php
  api/database/migrations/2020_03_14_000190_create_qualification_user_table.php
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/QualificationSeeder.php
  api/resources/lang/de/messages.php
  api/resources/lang/de/validation.php
  api/resources/lang/en/messages.php
  api/resources/lang/en/validation.php
  api/routes/api.php
  api/tests/Feature/Qualification/QualificationResourcesTest.php
  api/tests/Feature/User/UserResourcesTest.php
Labels: api

api: initial commit
  api/app/Contracts/Logable.php
  api/app/Traits/ModelDiff.php
Labels: api

admin: fix - Fix logout
  administration/src/services/AuthService.ts
Labels: admin

.github/labeler.yml:

# Add 'core' label to any root file changes
core:
  - '*'
  - '.github/**/*'

# Add 'documentation' label to any changes on .md or .rst file
documentation:
  - '**/*.md'
  - '**/*.rst'

# Add 'admin' label to any change within the admin-bundle
admin: 'administration/**/*'

# Add 'api' label to any change within the api-bundle
api: 'api/**/*'
