Repository Exotelis/skydivemanifest, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, admin, api

.github/labeler.yml:

# Add 'core' label to any root file changes
core:
  - '*'
  - '.github/**/*'

# Add 'documentation' label to any changes on .md or .rst file
documentation:
  - '**/*.md'
  - '**/*.rst'

# Add 'admin' label to any change within the admin-bundle
admin: 'administration/**/*'

# Add 'api' label to any change within the api-bundle
api: 'api/**/*'

api: fix - Fix some typos
  README.md
Labels: core, documentation

admin: fix - Fix tests that fail on other environments
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/components/pages/__tests__/RegisterPage.spec.ts
Labels: admin

admin: update - Update dependencies
  administration/package-lock.json
  administration/package.json
Labels: admin

api: update - Update dependencies
  api/composer.lock
Labels: api

api: update - Update notifications
  api/app/Listeners/Auth/SendEmailVerifiedNotification.php
  api/app/Listeners/User/Registered.php
  api/app/Models/User.php
  api/app/Notifications/CreateUser.php
  api/app/Notifications/EmailVerified.php
  api/app/Notifications/LockAccount.php
  api/app/Notifications/ResetPassword.php
  api/app/Notifications/VerifyEmail.php
  api/app/Traits/CanBeLockedTemporarily.php
  api/app/Traits/MustVerifyEmail.php
  api/tests/Feature/Auth/AuthResourcesTest.php
  api/tests/Feature/Auth/EmailResourcesTest.php
  api/tests/Feature/Auth/PasswordResourcesTest.php
Labels: api

admin: add - Add vue portals
  administration/package-lock.json
  administration/package.json
Labels: admin

admin: update - Improve the NavigationGenerator and NavigationItem
  administration/README.md
  administration/src/App.vue
  administration/src/assets/scss/themes/default/_mixins.scss
  administration/src/assets/scss/themes/default/_navigations.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_variables.scss
  administration/src/assets/scss/themes/default/layouts/_default.scss
  administration/src/components/layouts/DefaultLayout.vue
  administration/src/components/layouts/__tests__/DefaultLayout.spec.ts
  administration/src/components/navigation/NavigationGenerator.vue
  administration/src/components/navigation/NavigationItem.vue
  administration/src/components/navigation/__tests__/NavigationGenerator.spec.ts
  administration/src/components/navigation/__tests__/NavigationItem.spec.ts
  administration/src/router/router.ts
Labels: documentation, admin

admin: fix - Fix typos
  administration/src/components/form/__tests__/ButtonWrapper.spec.ts
  administration/src/components/form/__tests__/InputDate.spec.ts
  administration/src/components/form/__tests__/InputEmail.spec.ts
  administration/src/components/form/__tests__/SelectWrapper.spec.ts
Labels: admin

admin: update - Submenu sticks if supported
  administration/src/assets/scss/themes/default/layouts/_default.scss
Labels: admin

api: initial commit
  api/app/Console/Commands/FilterMakeCommand.php
  api/app/Console/Commands/stubs/filter.stub
  api/app/Filters/RoleFilters.php
  api/app/Filters/UserFilters.php
  api/app/Http/Controllers/PermissionController.php
  api/app/Http/Controllers/RoleController.php
  api/app/Http/Controllers/UserController.php
  api/app/Http/Requests/DeleteByIdRequest.php
  api/app/Http/Requests/Role/CreateRequest.php
  api/app/Http/Requests/Role/DeleteRequest.php
  api/app/Http/Requests/Role/UpdateRequest.php
  api/app/Http/Requests/User/BulkDeleteRequest.php
  api/app/Rules/NotAdmin.php
  api/app/Rules/NotCurrentUser.php
  api/app/Traits/Paginate.php
  api/database/factories/AddressFactory.php
  api/database/factories/CountryFactory.php
  api/database/factories/RegionFactory.php
  api/database/seeds/UserSeeder.php
  api/tests/Feature/Permission/PermissionResourcesTest.php
  api/tests/Feature/Role/RoleResourcesTest.php
  api/tests/Feature/User/UserResourcesTest.php
Labels: api

api: update - l10n messages
  api/app/Exceptions/Handler.php
  api/resources/lang/de/error.php
  api/resources/lang/en/error.php
  api/tests/Feature/Auth/AuthResourcesTest.php
Labels: api

api: update - Improve middleware and Seeder/Factories
  api/README.md
  api/app/Http/Kernel.php
  api/app/Http/Middleware/ChangePassword.php
  api/app/Http/Middleware/EnsureAccountIsActive.php
  api/app/Http/Middleware/EnsureEmailIsVerified.php
  api/database/factories/AddressFactory.php
  api/database/factories/CountryFactory.php
  api/database/factories/RegionFactory.php
  api/database/factories/UserFactory.php
  api/database/seeds/UserSeeder.php
  api/tests/Feature/Auth/AuthResourcesTest.php
  api/tests/Feature/Auth/EmailResourcesTest.php
  api/tests/Feature/Auth/PasswordResourcesTest.php
Labels: documentation, api

api: add - Return l10n error message if permissions missing
  api/app/Exceptions/Handler.php
  api/resources/lang/de/error.php
  api/resources/lang/en/error.php
Labels: api

api: add - Add FilterMakeCommand
  api/app/Console/Commands/FilterMakeCommand.php
  api/app/Console/Commands/stubs/filter.stub
  api/app/Console/Kernel.php
Labels: api

api: add - Add package spatie/laravel-query-builder
  api/composer.json
  api/composer.lock
Labels: api

api: add - Add color field to Role scheme and model
  api/app/Models/Role.php
  api/database/migrations/2020_03_14_000020_create_roles_table.php
Labels: api

api: add - UsersController and helper features (squash all user stuff)
  api/app/Filters/UserFilters.php
  api/app/Http/Controllers/UserController.php
  api/app/Http/Requests/User/BulkDeleteRequest.php
  api/app/Models/User.php
  api/app/Rules/NotAdmin.php
  api/app/Rules/NotCurrentUser.php
  api/app/Traits/Paginate.php
  api/resources/lang/de/messages.php
  api/resources/lang/de/validation.php
  api/resources/lang/en/messages.php
  api/resources/lang/en/validation.php
  api/routes/api.php
  api/tests/Feature/User/UserResourcesTest.php
  api/tests/TestCase.php
Labels: api

api: move file
  api/app/Http/Requests/IntIdRequest.php
Labels: api

admin: initial commit
  administration/jestSetupAfterEnv.ts
  administration/src/assets/scss/themes/default/components/_actionpanel.scss
  administration/src/components/form/InputCheckbox.vue
  administration/src/components/form/InputColor.vue
  administration/src/components/form/UserRoleForm.vue
  administration/src/components/form/__tests__/InputCheckbox.spec.ts
  administration/src/components/form/__tests__/InputColor.spec.ts
  administration/src/components/form/__tests__/UserRoleForm.spec.ts
  administration/src/components/pages/UserRolesAddPage.vue
  administration/src/components/pages/UserRolesEditPage.vue
  administration/src/components/pages/UserRolesPage.vue
  administration/src/components/pages/UsersPage.vue
  administration/src/components/pages/__tests__/UserRolesAddPage.spec.ts
  administration/src/components/pages/__tests__/UserRolesEditPage.spec.ts
  administration/src/components/pages/__tests__/UserRolesPage.spec.ts
  administration/src/components/pages/__tests__/UsersPage.spec.ts
  administration/src/components/ui/ActionPanel.vue
  administration/src/components/ui/LoadingSpinner.vue
  administration/src/components/ui/__tests__/ActionPanel.spec.ts
  administration/src/components/ui/__tests__/LoadingSpinner.spec.ts
  administration/src/enum/ToastVariant.ts
  administration/src/filters/SharedFilters.ts
  administration/src/mixins/DeleteModalMixin.ts
  administration/src/mixins/DirtyModalMixin.ts
  administration/src/mixins/ToastMixin.ts
  administration/src/mixins/configs/UserMixin.ts
  administration/src/mixins/configs/UserRoleMixin.ts
  administration/src/mixins/configs/__tests__/UserMixin.spec.ts
  administration/src/mixins/configs/__tests__/UserRoleMixin.spec.ts
  administration/src/models/PermissionModel.ts
  administration/src/models/RoleModel.ts
  administration/src/models/UserModel.ts
  administration/src/services/PermissionService.ts
  administration/src/services/UserRoleService.ts
  administration/src/services/__mocks__/PermissionService.ts
  administration/src/services/__mocks__/UserRoleService.ts
  administration/src/shims.jest.d.ts
Labels: admin

admin: fix - api
  administration/src/api.ts
Labels: admin

admin: update - Add EventBus to datatable
  administration/src/components/datatable/Datatable.vue
Labels: admin

admin: fix - NavigationItem
  administration/src/components/navigation/NavigationItem.vue
Labels: admin

admin: add - Add action panel component
  administration/src/assets/scss/app.scss
  administration/src/assets/scss/themes/default/components/_actionpanel.scss
  administration/src/components/ui/ActionPanel.vue
  administration/src/components/ui/__tests__/ActionPanel.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
Labels: admin

admin: fix - Fix FormValidation
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/PasswordChangePage.vue
  administration/src/components/pages/PasswordForgotPage.vue
  administration/src/components/pages/PasswordResetPage.vue
  administration/src/components/pages/RegisterPage.vue
  administration/src/mixins/FormValidationMixin.ts
Labels: admin

admin: update - Improve login and logout
  administration/src/components/pages/LoginPage.vue
  administration/src/directives/LogoutDirective.ts
Labels: admin

admin: add - Extend jest expect
  administration/jest.config.js
  administration/jestSetupAfterEnv.ts
  administration/src/shims.jest.d.ts
Labels: admin

api: fix - Fix typo and missing comment
  api/app/Http/Requests/IntIdRequest.php
  api/tests/Feature/Timezone/TimezoneResourceTest.php
Labels: api

api: add - Permissions
  api/app/Http/Controllers/PermissionController.php
  api/database/factories/PermissionFactory.php
  api/database/migrations/2020_03_14_000010_create_permissions_table.php
  api/routes/api.php
  api/tests/Feature/Permission/PermissionResourcesTest.php
Labels: api

admin: add - Add Users page
  administration/jest.config.js
  administration/src/App.vue
  administration/src/components/layouts/DefaultLayout.vue
  administration/src/components/pages/UsersPage.vue
  administration/src/components/pages/__tests__/UsersPage.spec.ts
  administration/src/helpers.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/configs/UserMixin.ts
  administration/src/mixins/configs/__tests__/UserMixin.spec.ts
  administration/src/models/UserModel.ts
  administration/src/router/routes.ts
  administration/src/services/UserService.ts
  administration/src/services/__mocks__/UserService.ts
Labels: admin

core: fix - Fix typo
  CONTRIBUTING.md
Labels: core, documentation

admin: update - Datatable actions
  administration/src/components/datatable/DatatableActions.vue
  administration/src/components/datatable/__tests__/DatatableActions.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
Labels: admin

admin: add - Loading spinner
  administration/src/components/ui/LoadingSpinner.vue
  administration/src/components/ui/__tests__/LoadingSpinner.spec.ts
Labels: admin

admin: move file
  administration/src/components/datatable/Datatable.vue
  administration/src/components/datatable/__tests__/Datatable.spec.ts
  administration/src/models/ServiceModel.ts
  administration/src/models/datatable/DatatableServiceModel.ts
Labels: admin

admin: add - Roles page
  administration/src/components/layouts/DefaultLayout.vue
  administration/src/components/layouts/__tests__/DefaultLayout.spec.ts
  administration/src/components/pages/UserRolesPage.vue
  administration/src/components/pages/__tests__/UserRolesPage.spec.ts
  administration/src/helpers.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/configs/UserRoleMixin.ts
  administration/src/mixins/configs/__tests__/UserRoleMixin.spec.ts
  administration/src/models/RoleModel.ts
  administration/src/router/routes.ts
  administration/src/services/UserRoleService.ts
  administration/src/services/__mocks__/UserRoleService.ts
Labels: admin

api: add - Roles
  api/app/Filters/RoleFilters.php
  api/app/Http/Controllers/RoleController.php
  api/app/Http/Requests/Role/CreateRequest.php
  api/app/Http/Requests/Role/DeleteRequest.php
  api/app/Http/Requests/Role/UpdateRequest.php
  api/app/Models/Role.php
  api/database/factories/RoleFactory.php
  api/database/migrations/2020_03_14_000020_create_roles_table.php
  api/resources/lang/de/error.php
  api/resources/lang/de/messages.php
  api/resources/lang/de/validation.php
  api/resources/lang/en/error.php
  api/resources/lang/en/messages.php
  api/resources/lang/en/validation.php
  api/routes/api.php
  api/tests/Feature/Role/RoleResourcesTest.php
  api/tests/TestCase.php
Labels: api

admin: add - Add interceptor to axios
  administration/src/api.ts
Labels: admin

api: update - Update countries, regions and currencies migrations
  api/database/migrations/2020_03_14_000050_create_countries_table.php
  api/database/migrations/2020_03_14_000060_create_regions_table.php
  api/database/migrations/2020_03_14_000080_create_currencies_table.php
Labels: api

admin: update - Can load datatable filter asynchronously
  administration/src/assets/scss/themes/default/_general.scss
  administration/src/assets/scss/themes/default/_variables.scss
  administration/src/assets/scss/themes/default/components/_datatable.scss
  administration/src/components/datatable/Datatable.vue
  administration/src/components/datatable/DatatableFilters.vue
  administration/src/components/datatable/__tests__/Datatable.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
Labels: admin

admin: add - Add input components checkbox and color
  administration/README.md
  administration/src/components/form/InputCheckbox.vue
  administration/src/components/form/InputColor.vue
  administration/src/components/form/__tests__/InputCheckbox.spec.ts
  administration/src/components/form/__tests__/InputColor.spec.ts
Labels: documentation, admin

admin: add - Add user role add and edit page
  administration/src/assets/scss/themes/default/_general.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_variables.scss
  administration/src/components/form/UserRoleForm.vue
  administration/src/components/form/__tests__/UserRoleForm.spec.ts
  administration/src/components/pages/UserRolesAddPage.vue
  administration/src/components/pages/UserRolesEditPage.vue
  administration/src/components/pages/__tests__/UserRolesAddPage.spec.ts
  administration/src/components/pages/__tests__/UserRolesEditPage.spec.ts
  administration/src/enum/ToastVariant.ts
  administration/src/helpers.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/DeleteModalMixin.ts
  administration/src/mixins/DirtyModalMixin.ts
  administration/src/mixins/FormMixin.ts
  administration/src/mixins/ToastMixin.ts
  administration/src/models/PermissionModel.ts
  administration/src/models/ServiceModel.ts
  administration/src/router/routes.ts
  administration/src/services/PermissionService.ts
  administration/src/services/UserRoleService.ts
  administration/src/services/__mocks__/PermissionService.ts
  administration/src/services/__mocks__/UserRoleService.ts
Labels: admin
