Repository Exotelis/skydivemanifest, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, admin, api

admin: initial commit
  administration/src/components/pages/PasswordChangePage.vue
  administration/src/components/pages/__tests__/PasswordChangePage.spec.ts
  administration/src/interfaces/FormInterface.ts
  administration/src/mixins/FormMixin.ts
  administration/src/models/ChangePasswordModel.ts
Labels: admin

admin: update - Route to dashboard when signed in
  administration/src/router/router.ts
Labels: admin

admin: update - Validation of confirmation do not display the field name
  administration/README.md
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/FormValidationMixin.ts
Labels: documentation, admin

admin: fix - Fix the name of a test
  administration/src/components/pages/__tests__/RegisterPage.spec.ts
Labels: admin

admin: add - Add the FormMixin
  administration/README.md
  administration/src/interfaces/FormInterface.ts
  administration/src/mixins/FormMixin.ts
Labels: documentation, admin

api: add - Add password_change to user claim
  api/app/Claims/UserClaim.php
Labels: api

admin: add - Add the password_change flag to the UserShortModel
  administration/src/models/UserShortModel.ts
Labels: admin

admin: add - Add password change functionality
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/PasswordChangePage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/components/pages/__tests__/PasswordChangePage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/models/ChangePasswordModel.ts
  administration/src/router/router.ts
  administration/src/router/routes.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

admin: update - Merge register and registerSuccess page
  administration/src/components/pages/RegisterPage.vue
  administration/src/components/pages/__tests__/RegisterPage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/router/routes.ts
Labels: admin

admin: last commit
  administration/src/components/pages/RegisterSuccessPage.vue
  administration/src/components/pages/__tests__/RegisterSuccessPage.spec.ts
Labels: admin

admin: update - Refacoring
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/PasswordChangePage.vue
  administration/src/components/pages/RegisterPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/components/ui/SignInModal.vue
  administration/src/components/ui/__tests__/SignInModal.spec.ts
  administration/src/helpers.ts
  administration/src/models/ChangePasswordModel.ts
  administration/src/models/CredentialsModel.ts
  administration/src/models/RegisterModel.ts
  administration/src/models/UserShortModel.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

api: update - URLs to frontend in mails
  api/README.md
  api/app/Mail/LockAccount.php
  api/app/Mail/ResetPassword.php
Labels: documentation, api

admin: initial commit
  administration/src/components/pages/PasswordForgotPage.vue
  administration/src/components/pages/PasswordResetPage.vue
  administration/src/components/pages/__tests__/PasswordForgotPage.spec.ts
  administration/src/components/pages/__tests__/PasswordResetPage.spec.ts
  administration/src/models/ResetPasswordModel.ts
Labels: admin

admin: add - Password forgot and password reset components
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/PasswordForgotPage.vue
  administration/src/components/pages/PasswordResetPage.vue
  administration/src/components/pages/__tests__/PasswordForgotPage.spec.ts
  administration/src/components/pages/__tests__/PasswordResetPage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/FormMixin.ts
  administration/src/models/ResetPasswordModel.ts
  administration/src/router/routes.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

api: update - Reset password
  api/app/Mail/ResetPassword.php
  api/app/Traits/ResetPassword.php
Labels: api

admin: initial commit
  administration/src/assets/fonts/Raleway-VariableFont.ttf
  administration/src/assets/fonts/WorkSans-VariableFont.ttf
Labels: admin

admin: add - Font Raleway and Work Sans
  administration/src/assets/scss/themes/default/_varibales.scss
Labels: admin

admin: fix - Fix class names
  administration/src/components/form/FormGroup.vue
  administration/src/components/form/InputPassword.vue
Labels: admin

admin: initial commit
  administration/src/components/ui/UserMenu.vue
  administration/src/components/ui/__tests__/UserMenu.spec.ts
Labels: admin

admin: add - UserMenu
  administration/src/components/layouts/DefaultLayout.vue
  administration/src/components/ui/UserMenu.vue
  administration/src/components/ui/__tests__/UserMenu.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
Labels: admin

admin: fix - Load components async and globally
  administration/src/App.vue
  administration/src/router/router.ts
  administration/tests/unit/App.spec.ts
Labels: admin

admin: add - Helper function setUserAttribute
  administration/src/helpers.ts
Labels: admin

admin: update - Show success message when the password was changed
  administration/src/components/pages/PasswordChangePage.vue
  administration/src/components/pages/__tests__/PasswordChangePage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
Labels: admin

api: update - Forgot password with username or email
  api/app/Http/Requests/Password/ForgotRequest.php
  api/app/Traits/ResetPassword.php
  api/tests/Feature/Auth/PasswordResourcesTest.php
Labels: api

admin: add - Router tests
  administration/src/router/__tests__/router.spec.ts
Labels: admin

admin: update - Password forgot can be performed with username or email
  administration/src/components/pages/PasswordForgotPage.vue
  administration/src/components/pages/__tests__/PasswordForgotPage.spec.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

admin: update - Change font of asterisks
  administration/src/assets/scss/themes/default/_overrides.scss
Labels: admin

admin: add - Add beforeRouteLeave to FormMixin
  administration/README.md
  administration/src/components/pages/PasswordResetPage.vue
  administration/src/components/pages/RegisterPage.vue
  administration/src/components/pages/__tests__/PasswordResetPage.spec.ts
  administration/src/components/pages/__tests__/RegisterPage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/FormMixin.ts
Labels: documentation, admin

admin: add - Permission management
  administration/README.md
  administration/src/components/layouts/DefaultLayout.vue
  administration/src/components/navigation/NavigationItem.vue
  administration/src/components/navigation/NavigationType.ts
  administration/src/components/navigation/__tests__/NavigationItem.spec.ts
  administration/src/helpers.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/router/__tests__/router.spec.ts
  administration/src/router/router.ts
  administration/src/router/routes.ts
Labels: documentation, admin

admin: move file
  administration/src/assets/scss/app.scss
  administration/src/assets/scss/themes/default/_variables.scss
Labels: admin

admin: add - Add autofill workaround for form fields
  administration/src/assets/scss/themes/default/_general.scss
  administration/src/assets/scss/themes/default/_variables.scss
Labels: admin

admin: move file
  administration/README.md
  administration/src/components/layouts/DefaultLayout.vue
  administration/src/components/navigation/NavigationGenerator.vue
  administration/src/components/navigation/NavigationItem.vue
  administration/src/components/navigation/__tests__/NavigationGenerator.spec.ts
  administration/src/components/navigation/__tests__/NavigationItem.spec.ts
  administration/src/enum/NavigationType.ts
  administration/src/interfaces/NavigationGeneratorInterface.ts
  administration/src/models/NavigationModel.ts
Labels: documentation, admin

admin: update - Remove user information from localStorage
  administration/src/components/ui/__tests__/SignInModal.spec.ts
  administration/src/components/ui/__tests__/UserMenu.spec.ts
  administration/src/helpers.ts
  administration/src/services/AuthService.ts
Labels: admin

api: fix - Revoke any other token if user is limited to one active token
  api/app/Listeners/Auth/RevokeOldTokens.php
Labels: api

admin: update - Refactoring
  administration/src/components/ui/SignInModal.vue
  administration/src/components/ui/__tests__/SignInModal.spec.ts
Labels: admin

admin: update - Refactoring
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

admin: update - Add comments
  administration/src/components/ui/UserMenu.vue
Labels: admin

admin: update - Cleanup
  administration/src/components/form/__tests__/FormGroup.spec.ts
  administration/src/components/form/__tests__/InputPassword.spec.ts
  administration/src/components/navigation/__tests__/NavigationGenerator.spec.ts
Labels: admin

api: add - Revoke all refresh tokens on sign out.
  api/app/Models/User.php
Labels: api

admin: fix - Fix some typos
  administration/.env
  administration/README.md
Labels: documentation, admin

.github/labeler.yml:

# Add 'core' label to any root file changes
core:
  - '*'
  - '.github/**/*'

# Add 'documentation' label to any changes on .md or .rst file
documentation:
  - '**/*.md'
  - '**/*.rst'

# Add 'admin' label to any change within the admin-bundle
admin: 'administration/**/*'

# Add 'api' label to any change within the api-bundle
api: 'api/**/*'
