Repository Exotelis/skydivemanifest, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, admin, api

.github/labeler.yml:

# Add 'core' label to any root file changes
core:
  - '*'
  - '.github/**/*'

# Add 'documentation' label to any changes on .md or .rst file
documentation:
  - '**/*.md'
  - '**/*.rst'

# Add 'admin' label to any change within the admin-bundle
admin: 'administration/**/*'

# Add 'api' label to any change within the api-bundle
api: 'api/**/*'

admin: update - Update form element components
  administration/src/assets/scss/_mdi.scss
  administration/src/assets/scss/app.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
  administration/src/components/form/InputHidden.vue
  administration/src/components/form/InputPassword.vue
  administration/src/components/form/InputText.vue
  administration/src/components/form/__tests__/InputPassword.spec.ts
  administration/src/components/form/__tests__/InputText.spec.ts
  administration/src/components/pages/LoginPage.vue
Labels: admin

admin: add - Mixins for form elements
  administration/src/mixins/form/CheckedMixin.ts
  administration/src/mixins/form/ListMixin.ts
  administration/src/mixins/form/MultipleMixin.ts
  administration/src/mixins/form/NumericMixin.ts
  administration/src/mixins/form/PatternMixin.ts
  administration/src/mixins/form/ReadonlyMixin.ts
  administration/src/mixins/form/RequiredMixin.ts
  administration/src/mixins/form/SharedMixin.ts
  administration/src/mixins/form/TextualMixin.ts
  administration/src/validators.ts
Labels: admin

admin: last commit
  administration/src/mixins/BasicMixin.ts
  administration/src/mixins/InputmodeMixin.ts
  administration/src/mixins/ListMixin.ts
  administration/src/mixins/ReadonlyMixin.ts
  administration/src/mixins/SpellcheckMixin.ts
  administration/src/mixins/TextMixin.ts
Labels: admin

admin: update - Update LoginPage.Vue to validate form controls
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/components/pages/LoginPage.vue
  administration/src/mixins/FormValidationMixin.ts
Labels: admin

admin: add - Add documentation
  administration/README.md
Labels: documentation, admin

admin: fix - Fix a test case
  administration/src/components/pages/__tests__/LoginPage.spec.ts
Labels: admin

core: add - Add link to the api/README.md
  README.md
Labels: core, documentation

admin: update - Fix color of left border of input fields
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
Labels: admin

admin: update - Change dev server to use ssl
  administration/.env
  administration/vue.config.js
Labels: admin

adimn: update - Add fallback page title
  administration/src/components/ui/LanguageSelector.vue
Labels: admin

admin: fix - Fix some typos
  administration/README.md
Labels: documentation, admin

admin: update - Install jwt-decode and fix security vulnerabilities
  administration/package-lock.json
  administration/package.json
Labels: admin

admin: update - Require login for protected routes
  administration/src/router/routes.ts
Labels: admin

admin: fix - Changes the icon of the settings navigation menu
  administration/src/components/layouts/DefaultLayout.vue
Labels: admin

admin: update - Disable unit tests for a single line
  administration/src/components/ui/LanguageSelector.vue
Labels: admin

admin: update - Refactor locale files
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/components/ui/SignInModal.vue
  administration/src/locales/de.json
  administration/src/locales/en.json
Labels: admin

admin: update - Move welcome template to WelcomeLayout.vue
  administration/src/components/layouts/WelcomeLayout.vue
  administration/src/components/layouts/__tests__/WelcomeLayout.spec.ts
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
Labels: admin

admin: initial commit
  administration/src/api.ts
  administration/src/components/ui/SignInModal.vue
  administration/src/components/ui/__tests__/SignInModal.spec.ts
  administration/src/directives/LogoutDirective.ts
  administration/src/event-bus.ts
  administration/src/helpers.ts
  administration/src/models/CredentialsModel.ts
  administration/src/models/UserShortModel.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

api: update - Custom validation error message
  api/app/Exceptions/Handler.php
  api/resources/lang/de/error.php
  api/resources/lang/en/error.php
Labels: api

api: initial commit
  api/app/Claims/UserClaim.php
  api/app/Http/Requests/Auth/RefreshRequest.php
  api/config/passport-claims.php
Labels: api

api: update - Add custom claims to OAuth token
  api/app/Claims/UserClaim.php
  api/app/Http/Controllers/AuthController.php
  api/composer.json
  api/composer.lock
  api/config/passport-claims.php
Labels: api

api: add - Add refresh resource
  api/app/Http/Controllers/AuthController.php
  api/app/Http/Requests/Auth/RefreshRequest.php
  api/routes/api.php
  api/tests/Feature/Auth/AuthResourcesTest.php
Labels: api

admin: fix - Remove console.log
  administration/src/mixins/FormValidationMixin.ts
Labels: admin

admin: update - Add the authentication process to the ui
  administration/src/App.vue
  administration/src/api.ts
  administration/src/assets/scss/_mdi.scss
  administration/src/assets/scss/app.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
  administration/src/components/form/ButtonWrapper.vue
  administration/src/components/form/FormGroup.vue
  administration/src/components/form/__tests__/ButtonWrapper.spec.ts
  administration/src/components/form/__tests__/FormGroup.spec.ts
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/components/ui/SignInModal.vue
  administration/src/components/ui/__tests__/SignInModal.spec.ts
  administration/src/directives/LogoutDirective.ts
  administration/src/event-bus.ts
  administration/src/helpers.ts
  administration/src/i18n.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/main.ts
  administration/src/mixins/ButtonMixin.ts
  administration/src/models/CredentialsModel.ts
  administration/src/models/UserShortModel.ts
  administration/src/router/router.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
  administration/tests/unit/App.spec.ts
Labels: admin

admin: update - Refactor locale files
  administration/src/components/layouts/WelcomeLayout.vue
  administration/src/components/layouts/__tests__/WelcomeLayout.spec.ts
  administration/src/components/navigation/__tests__/NavigationItem.spec.ts
  administration/src/components/pages/DashboardPage.vue
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/SettingsPage.vue
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/router/routes.ts
Labels: admin

admin: initial commit
  administration/src/components/form/InputDate.vue
  administration/src/components/form/InputEmail.vue
  administration/src/components/form/SelectWrapper.vue
  administration/src/components/form/__tests__/InputDate.spec.ts
  administration/src/components/form/__tests__/InputEmail.spec.ts
  administration/src/components/form/__tests__/SelectWrapper.spec.ts
  administration/src/components/pages/RegisterPage.vue
  administration/src/components/pages/RegisterSuccessPage.vue
  administration/src/components/pages/__tests__/RegisterPage.spec.ts
  administration/src/components/pages/__tests__/RegisterSuccessPage.spec.ts
  administration/src/enum/Gender.ts
  administration/src/interfaces/OptGroupInterface.ts
  administration/src/interfaces/OptInterface.ts
  administration/src/models/RegisterModel.ts
  administration/src/types/Options.ts
  administration/src/types/SelectChild.ts
Labels: admin

admin: add - Add InputDate, InputEmail and SelectWrapper form elements
  administration/README.md
  administration/src/components/form/FormGroup.vue
  administration/src/components/form/InputDate.vue
  administration/src/components/form/InputEmail.vue
  administration/src/components/form/InputPassword.vue
  administration/src/components/form/SelectWrapper.vue
  administration/src/components/form/__tests__/InputDate.spec.ts
  administration/src/components/form/__tests__/InputEmail.spec.ts
  administration/src/components/form/__tests__/SelectWrapper.spec.ts
  administration/src/interfaces/OptGroupInterface.ts
  administration/src/interfaces/OptInterface.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/ButtonMixin.ts
  administration/src/mixins/FormValidationMixin.ts
  administration/src/mixins/form/CheckedMixin.ts
  administration/src/mixins/form/MultipleMixin.ts
  administration/src/mixins/form/ReadonlyMixin.ts
  administration/src/mixins/form/RequiredMixin.ts
  administration/src/mixins/form/SharedMixin.ts
  administration/src/types/Options.ts
  administration/src/types/SelectChild.ts
Labels: documentation, admin

admin: fix - Set is-valid and is-invalid not to form element
  administration/src/mixins/FormValidationMixin.ts
Labels: admin

admin: update - Change to percentage value
  administration/src/assets/scss/themes/default/_varibales.scss
Labels: admin

admin: add - Registration form
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/RegisterPage.vue
  administration/src/components/pages/RegisterSuccessPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/components/pages/__tests__/RegisterPage.spec.ts
  administration/src/components/pages/__tests__/RegisterSuccessPage.spec.ts
  administration/src/enum/Gender.ts
  administration/src/helpers.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/models/RegisterModel.ts
  administration/src/router/routes.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

admin: fix - Use htmlentities
  administration/src/components/ui/SignInModal.vue
Labels: admin

admin: fix - restoreMock
  administration/src/components/ui/__tests__/SignInModal.spec.ts
Labels: admin

api: update - Token of new unverified users should last longer
  api/app/Facades/VerifyEmail.php
  api/app/Helpers/VerifyEmail.php
  api/app/Jobs/Auth/ClearEmailChanges.php
Labels: api

admin: initial commit
  administration/src/components/ui/ConfirmEmailModal.vue
  administration/src/components/ui/__tests__/ConfirmEmailModal.spec.ts
Labels: admin

admin: add - Email confirmation
  administration/src/App.vue
  administration/src/assets/scss/_mdi.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
  administration/src/components/ui/ConfirmEmailModal.vue
  administration/src/components/ui/__tests__/ConfirmEmailModal.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/router/router.ts
  administration/src/services/AuthService.ts
  administration/src/services/__mocks__/AuthService.ts
Labels: admin

api: update - Change confirm email url
  api/README.md
  api/app/Mail/VerifyEmail.php
  api/resources/lang/en/error.php
  api/resources/lang/en/passwords.php
  api/tests/Feature/Auth/EmailResourcesTest.php
  api/tests/Feature/Auth/PasswordResourcesTest.php
Labels: documentation, api

admin: update - Remove class float-left
  administration/src/components/form/ButtonWrapper.vue
  administration/src/components/form/__tests__/ButtonWrapper.spec.ts
Labels: admin

admin: fix - Fix name of route register-success
  administration/src/router/routes.ts
Labels: admin

admin: update - Also display confirmation errors
  administration/README.md
  administration/src/helpers.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/FormValidationMixin.ts
Labels: documentation, admin

admin: fix - Import Gender to UserShortModel
  administration/src/models/UserShortModel.ts
Labels: admin
