Repository Exotelis/skydivemanifest, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, admin, api

core: add - Explain how to commit moved files
  CONTRIBUTING.md
Labels: core, documentation

core: add - Add basic 'Getting started' description
  README.md
Labels: core, documentation

core: update - Add administration and remove testing section
  README.md
Labels: core, documentation

admin: move file
  administration/src/assets/scss/themes/default/components/_logolicensestatus.scss
  administration/src/assets/scss/themes/default/components/_logostatus.scss
  administration/src/components/ui/LogoLicenseStatus.vue
  administration/src/main.js
  administration/src/router/router.js
Labels: admin

core: update - Update administration unit test workflow
  .github/workflows/admin-test-unit.yml
Labels: core

core: update - Contribution guidelines
  CONTRIBUTING.md
Labels: core, documentation

admin: move file
  administration/src/assets/scss/themes/default/components/_logolicensestatus.scss
  administration/src/assets/scss/themes/default/components/_logostatus.scss
  administration/src/components/ui/LogoLicenseStatus.vue
  administration/src/main.js
  administration/src/router/router.js
Labels: admin

admin: initial commit
  administration/src/components/form/HiddenInput.vue
  administration/src/components/form/PasswordInput.vue
  administration/src/components/form/SubmitButton.vue
  administration/src/components/form/TextInput.vue
  administration/src/components/form/__tests__/HiddenInput.spec.js
  administration/src/components/form/__tests__/PasswordInput.spec.js
  administration/src/components/form/__tests__/SubmitButton.spec.js
  administration/src/components/form/__tests__/TextInput.spec.js
  administration/src/components/form/mixinBasic.js
  administration/src/components/form/mixinButton.js
  administration/src/components/form/mixinInputmode.js
  administration/src/components/form/mixinList.js
  administration/src/components/form/mixinReadonly.js
  administration/src/components/form/mixinSpellcheck.js
  administration/src/components/form/mixinText.js
  administration/src/validators.js
  administration/tests/unit/validators.spec.js
Labels: admin

admin: update - Add transitions and update form-controls styling
  administration/src/assets/scss/_mdi.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
Labels: admin

admin: update - Add new validators and form components
  administration/README.md
  administration/src/components/form/HiddenInput.vue
  administration/src/components/form/PasswordInput.vue
  administration/src/components/form/SubmitButton.vue
  administration/src/components/form/TextInput.vue
  administration/src/components/form/__tests__/HiddenInput.spec.js
  administration/src/components/form/__tests__/PasswordInput.spec.js
  administration/src/components/form/__tests__/SubmitButton.spec.js
  administration/src/components/form/__tests__/TextInput.spec.js
  administration/src/components/form/mixinBasic.js
  administration/src/components/form/mixinButton.js
  administration/src/components/form/mixinInputmode.js
  administration/src/components/form/mixinList.js
  administration/src/components/form/mixinReadonly.js
  administration/src/components/form/mixinSpellcheck.js
  administration/src/components/form/mixinText.js
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.js
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/validators.js
  administration/tests/unit/validators.spec.js
Labels: documentation, admin

core: update - Contribution guidelines
  CONTRIBUTING.md
Labels: core, documentation

core: update - Update administration unit test workflow
  .github/workflows/admin-test-unit.yml
Labels: core

core: add - Explain how to commit moved files
  CONTRIBUTING.md
Labels: core, documentation

admin: update - Add transitions and update form-controls styling
  administration/src/assets/scss/_mdi.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
Labels: admin

admin: initial commit
  administration/src/components/form/HiddenInput.vue
  administration/src/components/form/PasswordInput.vue
  administration/src/components/form/SubmitButton.vue
  administration/src/components/form/TextInput.vue
  administration/src/components/form/__tests__/HiddenInput.spec.js
  administration/src/components/form/__tests__/PasswordInput.spec.js
  administration/src/components/form/__tests__/SubmitButton.spec.js
  administration/src/components/form/__tests__/TextInput.spec.js
  administration/src/components/form/mixinBasic.js
  administration/src/components/form/mixinButton.js
  administration/src/components/form/mixinInputmode.js
  administration/src/components/form/mixinList.js
  administration/src/components/form/mixinReadonly.js
  administration/src/components/form/mixinSpellcheck.js
  administration/src/components/form/mixinText.js
  administration/src/validators.js
  administration/tests/unit/validators.spec.js
Labels: admin

admin: update - Make styling changes to the dropdown menus
  administration/src/assets/scss/themes/default/_general.scss
  administration/src/assets/scss/themes/default/_varibales.scss
  administration/src/assets/scss/themes/default/layouts/_default.scss
Labels: admin

admin: update - Add new validators and form components
  administration/README.md
  administration/src/components/form/HiddenInput.vue
  administration/src/components/form/PasswordInput.vue
  administration/src/components/form/SubmitButton.vue
  administration/src/components/form/TextInput.vue
  administration/src/components/form/__tests__/HiddenInput.spec.js
  administration/src/components/form/__tests__/PasswordInput.spec.js
  administration/src/components/form/__tests__/SubmitButton.spec.js
  administration/src/components/form/__tests__/TextInput.spec.js
  administration/src/components/form/mixinBasic.js
  administration/src/components/form/mixinButton.js
  administration/src/components/form/mixinInputmode.js
  administration/src/components/form/mixinList.js
  administration/src/components/form/mixinReadonly.js
  administration/src/components/form/mixinSpellcheck.js
  administration/src/components/form/mixinText.js
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.js
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/validators.js
  administration/tests/unit/validators.spec.js
Labels: documentation, admin

core/admin: update - Server configuration documentation
  README.md
  administration/public/.htaccess
Labels: core, documentation, admin

admin: update - Update theme
  administration/src/assets/scss/themes/default/_general.scss
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
  administration/src/assets/scss/themes/default/components/_mainnavigation.scss
  administration/src/components/ui/LanguageSelector.vue
Labels: admin

admin: move files
  administration/src/components/form/PasswordInput.vue
  administration/src/components/form/SubmitButton.vue
  administration/src/components/form/TextInput.vue
  administration/src/mixins/mixinBasic.js
  administration/src/mixins/mixinButton.js
  administration/src/mixins/mixinInputmode.js
  administration/src/mixins/mixinList.js
  administration/src/mixins/mixinReadonly.js
  administration/src/mixins/mixinSpellcheck.js
  administration/src/mixins/mixinText.js
Labels: admin

admin: move files
  administration/src/components/form/PasswordInput.vue
  administration/src/components/form/SubmitButton.vue
  administration/src/components/form/TextInput.vue
  administration/src/mixins/mixinBasic.js
  administration/src/mixins/mixinButton.js
  administration/src/mixins/mixinInputmode.js
  administration/src/mixins/mixinList.js
  administration/src/mixins/mixinReadonly.js
  administration/src/mixins/mixinSpellcheck.js
  administration/src/mixins/mixinText.js
Labels: admin

admin: move files
  administration/src/components/form/PasswordInput.vue
  administration/src/components/form/SubmitButton.vue
  administration/src/components/form/TextInput.vue
  administration/src/mixins/mixinBasic.js
  administration/src/mixins/mixinButton.js
  administration/src/mixins/mixinInputmode.js
  administration/src/mixins/mixinList.js
  administration/src/mixins/mixinReadonly.js
  administration/src/mixins/mixinSpellcheck.js
  administration/src/mixins/mixinText.js
Labels: admin

admin: initial commit
  administration/src/shims-tsx.d.ts
  administration/src/shims-vue.d.ts
  administration/tsconfig.json
Labels: admin

admin: initial commit
  administration/src/assets/scss/themes/default/_mixins.scss
  administration/src/components/navigation/NavigationGenerator.vue
  administration/src/components/navigation/NavigationGeneratorInterface.ts
  administration/src/components/navigation/NavigationItem.vue
  administration/src/components/navigation/NavigationModel.ts
  administration/src/components/navigation/NavigationType.ts
  administration/src/components/navigation/__tests__/NavigationGenerator.spec.ts
  administration/src/components/navigation/__tests__/NavigationItem.spec.ts
Labels: admin

admin: update - Add navigation components and update the documentation
  administration/README.md
  administration/package-lock.json
  administration/package.json
  administration/src/assets/scss/app.scss
  administration/src/assets/scss/themes/default/_general.scss
  administration/src/assets/scss/themes/default/_mixins.scss
  administration/src/assets/scss/themes/default/_varibales.scss
  administration/src/assets/scss/themes/default/components/_mainnavigation.scss
  administration/src/assets/scss/themes/default/layouts/_default.scss
  administration/src/components/layouts/DefaultLayout.vue
  administration/src/components/layouts/__tests__/DefaultLayout.spec.ts
  administration/src/components/navigation/NavigationGenerator.vue
  administration/src/components/navigation/NavigationGeneratorInterface.ts
  administration/src/components/navigation/NavigationItem.vue
  administration/src/components/navigation/NavigationModel.ts
  administration/src/components/navigation/NavigationType.ts
  administration/src/components/navigation/__tests__/NavigationGenerator.spec.ts
  administration/src/components/navigation/__tests__/NavigationItem.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/router/routes.ts
  administration/tsconfig.json
Labels: documentation, admin

admin: move file
  administration/src/assets/scss/app.scss
  administration/src/assets/scss/themes/default/_navigations.scss
Labels: admin

admin: last commit
  administration/src/components/ui/MainNavigation.vue
Labels: admin

core: initial commit
  .github/workflows/api-tests.yml
Labels: core

api: last commit
  api/database/migrations/2014_10_12_000000_create_users_table.php
  api/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
  api/resources/js/app.js
  api/resources/js/bootstrap.js
  api/resources/lang/de/mails/mail.php
  api/resources/lang/de/mails/user/create.php
  api/resources/lang/de/mails/user/password.php
  api/resources/lang/en/mails/mail.php
  api/resources/lang/en/mails/user/create.php
  api/resources/lang/en/mails/user/password.php
  api/resources/sass/app.scss
  api/tests/Feature/ExampleTest.php
  api/tests/Unit/ExampleTest.php
Labels: api

api: move file
  api/app/Http/Requests/Auth/RegisterRequest.php
  api/resources/views/mails/footer.blade.php
  api/resources/views/mails/header.blade.php
  api/resources/views/mails/mail_footer.blade.php
  api/resources/views/mails/mail_header.blade.php
  api/tests/Feature/Auth/PasswordResourcesTest.php
  api/tests/Unit/Auth/ResetPasswordControllerTest.php
Labels: api

admin: update - Rename ButtonSubmit.vue and use BootstrapVue plugin
  administration/src/components/form/ButtonSubmit.vue
  administration/src/components/form/ButtonWrapper.vue
  administration/src/components/form/__tests__/ButtonWrapper.spec.ts
  administration/src/components/pages/LoginPage.vue
  administration/src/mixins/ButtonMixin.ts
Labels: admin

admin: update - Update npm dependencies and add BootstrapVue
  administration/package-lock.json
  administration/package.json
Labels: admin

admin: fix - Add missing mdi
  administration/src/components/layouts/DefaultLayout.vue
Labels: admin

admin: update - Form models are stored in a form object now
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
Labels: admin

admin: initial commit
  administration/src/components/form/FormGroup.vue
  administration/src/components/form/__tests__/FormGroup.spec.ts
  administration/src/mixins/FormValidationMixin.ts
Labels: admin

admin: add - Add form validation mixin
  administration/src/components/pages/LoginPage.vue
  administration/src/components/pages/__tests__/LoginPage.spec.ts
  administration/src/locales/de.json
  administration/src/locales/en.json
  administration/src/mixins/FormValidationMixin.ts
Labels: admin

admin: add - Add FormGroup component and tests
  administration/src/components/form/FormGroup.vue
  administration/src/components/form/__tests__/FormGroup.spec.ts
Labels: admin

admin: update - form control styling
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/assets/scss/themes/default/_varibales.scss
Labels: admin

admin: update - Improve form validation
  administration/src/assets/scss/themes/default/_overrides.scss
  administration/src/mixins/FormValidationMixin.ts
Labels: admin

admin: initial commit
  administration/src/mixins/form/CheckedMixin.ts
  administration/src/mixins/form/ListMixin.ts
  administration/src/mixins/form/MultipleMixin.ts
  administration/src/mixins/form/NumericMixin.ts
  administration/src/mixins/form/PatternMixin.ts
  administration/src/mixins/form/ReadonlyMixin.ts
  administration/src/mixins/form/RequiredMixin.ts
  administration/src/mixins/form/SharedMixin.ts
  administration/src/mixins/form/TextualMixin.ts
Labels: admin

.github/labeler.yml:

# Add 'core' label to any root file changes
core:
  - '*'
  - '.github/**/*'

# Add 'documentation' label to any changes on .md or .rst file
documentation:
  - '**/*.md'
  - '**/*.rst'

# Add 'admin' label to any change within the admin-bundle
admin: 'administration/**/*'

# Add 'api' label to any change within the api-bundle
api: 'api/**/*'
