Repository Exotelis/skydivemanifest, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, admin, api

api: initial commit
  api/database/seeders/DemoSeeder.php
Labels: api

api: last commit
  api/database/seeders/AircraftMaintenanceSeeder.php
Labels: api

api: update - Update factories, seeder and tests
  api/app/helpers.php
  api/database/factories/AddressFactory.php
  api/database/factories/AircraftFactory.php
  api/database/factories/AircraftMaintenanceFactory.php
  api/database/factories/CountryFactory.php
  api/database/factories/CurrencyFactory.php
  api/database/factories/RegionFactory.php
  api/database/factories/UserFactory.php
  api/database/seeders/AircraftSeeder.php
  api/database/seeders/DemoSeeder.php
  api/database/seeders/UserSeeder.php
  api/tests/Feature/Address/AddressResourcesTest.php
  api/tests/Feature/AircraftMaintenance/AircraftMaintenanceResourcesTest.php
  api/tests/Feature/Country/CountryResourcesTest.php
  api/tests/Feature/Region/RegionResourcesTest.php
  api/tests/Feature/User/UserResourcesTest.php
  api/tests/Unit/HelperFunctionsTest.php
Labels: api

api: initial commit
  api/app/Filters/TextFilters.php
  api/app/Filters/WaiverActiveFilters.php
  api/app/Filters/WaiverFilters.php
  api/app/Http/Controllers/TextController.php
  api/app/Http/Controllers/WaiverController.php
  api/app/Http/Requests/Text/CreateRequest.php
  api/app/Http/Requests/Text/UpdateRequest.php
  api/app/Http/Requests/Waiver/CreateRequest.php
  api/app/Http/Requests/Waiver/UpdateRequest.php
  api/app/Models/Text.php
  api/app/Models/Waiver.php
  api/app/Observers/TextObserver.php
  api/app/Observers/WaiverObserver.php
  api/database/factories/TextFactory.php
  api/database/factories/WaiverFactory.php
  api/database/migrations/2020_03_14_000200_create_texts_table.php
  api/database/migrations/2020_03_14_000210_create_waivers_table.php
  api/database/seeders/WaiverSeeder.php
  api/tests/Feature/Text/TextResourcesTest.php
  api/tests/Feature/Waiver/WaiverResourcesTest.php
Labels: api

api: add - Waiver management
  api/app/Filters/TextFilters.php
  api/app/Filters/WaiverActiveFilters.php
  api/app/Filters/WaiverFilters.php
  api/app/Http/Controllers/TextController.php
  api/app/Http/Controllers/WaiverController.php
  api/app/Http/Requests/Text/CreateRequest.php
  api/app/Http/Requests/Text/UpdateRequest.php
  api/app/Http/Requests/User/CreateRequest.php
  api/app/Http/Requests/User/UpdateRequest.php
  api/app/Http/Requests/Waiver/CreateRequest.php
  api/app/Http/Requests/Waiver/UpdateRequest.php
  api/app/Models/Text.php
  api/app/Models/Waiver.php
  api/app/Observers/TextObserver.php
  api/app/Observers/WaiverObserver.php
  api/app/Providers/ObserverServiceProvider.php
  api/app/Providers/RouteServiceProvider.php
  api/database/factories/TextFactory.php
  api/database/factories/WaiverFactory.php
  api/database/migrations/2020_03_14_000200_create_texts_table.php
  api/database/migrations/2020_03_14_000210_create_waivers_table.php
  api/database/seeders/DemoSeeder.php
  api/database/seeders/WaiverSeeder.php
  api/resources/lang/de/messages.php
  api/resources/lang/de/validation.php
  api/resources/lang/en/messages.php
  api/resources/lang/en/validation.php
  api/routes/api.php
  api/tests/Feature/Qualification/QualificationResourcesTest.php
  api/tests/Feature/Text/TextResourcesTest.php
  api/tests/Feature/Waiver/WaiverResourcesTest.php
Labels: api

api: update - Delete related models.
  api/app/Models/Country.php
  api/app/Observers/CountryObserver.php
  api/app/Observers/QualificationObserver.php
  api/app/Observers/RoleObserver.php
  api/app/Observers/UserObserver.php
Labels: api

api: initial commit
  api/app/Filters/UnassignedWaiverFilters.php
  api/app/Filters/WaiverActiveGetFilters.php
  api/app/Filters/WaiverSignedFilters.php
  api/app/Http/Controllers/UnassignedWaiverController.php
  api/app/Http/Controllers/UserWaiverController.php
  api/app/Http/Requests/UnassignedWaiver/AssignRequest.php
  api/app/Http/Requests/Waiver/SignRequest.php
  api/app/Http/Requests/Waiver/WebSignRequest.php
  api/app/Jobs/Waiver/DeleteExpiredWaivers.php
  api/app/Models/UnassignedWaiver.php
  api/app/Models/UserWaiver.php
  api/app/Observers/UnassignedWaiverObserver.php
  api/app/Traits/DuplicateWithRelations.php
  api/app/View/Components/LanguageSelector.php
  api/app/View/Components/ReCaptcha3Button.php
  api/app/View/Components/SignaturePad.php
  api/config/setting.php
  api/database/factories/UnassignedWaiverFactory.php
  api/database/migrations/2020_03_14_000220_create_user_waiver_table.php
  api/database/migrations/2020_03_14_000230_create_unassigned_waivers_table.php
  api/resources/views/components/language-selector.blade.php
  api/resources/views/components/re-captcha3-button.blade.php
  api/resources/views/components/signature-pad.blade.php
  api/resources/views/frontend/utility_skeleton.blade.php
  api/resources/views/frontend/waivers/waiver.blade.php
  api/resources/views/frontend/waivers/waivers.blade.php
  api/storage/app/public/js/signature_pad.min.js
  api/tests/Feature/UnassignedWaiver/UnassignedWaiverResourcesTest.php
  api/tests/Feature/User/UserWaiverResourcesTest.php
Labels: api

api: fix - Fix relations
  api/app/Models/Permission.php
  api/app/Models/Qualification.php
  api/app/Models/Role.php
  api/app/Observers/QualificationObserver.php
  api/app/Observers/RoleObserver.php
Labels: api

api: fix - Fix typo
  api/app/Http/Controllers/RoleController.php
Labels: api

api: add - Active user state
  api/database/factories/UserFactory.php
Labels: api

api: update - helper functions
  api/app/helpers.php
  api/tests/Unit/HelperFunctionsTest.php
Labels: api

api: update - Update file permissions
  api/bootstrap/cache/.gitignore
  api/storage/app/.gitignore
  api/storage/app/public/.gitignore
  api/storage/framework/.gitignore
  api/storage/framework/cache/.gitignore
  api/storage/framework/cache/data/.gitignore
  api/storage/framework/sessions/.gitignore
  api/storage/framework/testing/.gitignore
  api/storage/framework/views/.gitignore
  api/storage/logs/.gitignore
Labels: api

api: update - Support PHP 8 - Bump packages to latest versions
  api/README.md
  api/app/Jobs/Auth/ClearEmailChanges.php
  api/app/Jobs/Auth/ClearPasswordResets.php
  api/app/Jobs/Auth/ClearRestoreUsers.php
  api/app/Jobs/User/ClearUsers.php
  api/app/Jobs/User/DeleteInactiveUsers.php
  api/app/Jobs/User/DeleteUnverifiedUsers.php
  api/app/Notifications/CreateUser.php
  api/app/Notifications/EmailVerified.php
  api/app/Notifications/LockAccount.php
  api/app/Notifications/ResetPassword.php
  api/app/Notifications/RestoreUser.php
  api/app/Notifications/SoftDeleteUser.php
  api/app/Notifications/VerifyEmail.php
  api/composer.json
  api/composer.lock
Labels: documentation, api

admin: update - Update file permissions
  administration/src/assets/images/no-results.svg
Labels: admin

api: initial commit
  api/app/Filters/AircraftLogbookItemFilters.php
  api/app/Http/Controllers/AircraftLogbookController.php
  api/app/Http/Controllers/AircraftLogbookItemController.php
  api/app/Http/Requests/AircraftLogbook/UpdateRequest.php
  api/app/Http/Requests/AircraftLogbookItem/CreateRequest.php
  api/app/Http/Requests/AircraftLogbookItem/UpdateRequest.php
  api/app/Models/AircraftLogbook.php
  api/app/Models/AircraftLogbookItem.php
  api/app/Observers/AircraftLogbookItemObserver.php
  api/app/Observers/AircraftLogbookObserver.php
  api/app/Rules/CorrectAirfield.php
  api/app/Rules/InadmissibleIf.php
  api/app/Rules/NotBetweenDates.php
  api/database/factories/AircraftLogbookFactory.php
  api/database/factories/AircraftLogbookItemFactory.php
  api/database/migrations/2020_03_14_000240_create_aircraft_logbooks_table.php
  api/database/migrations/2020_03_14_000250_create_aircraft_logbook_items_table.php
  api/tests/Feature/AircraftLogbook/AircraftLogbookResourcesTest.php
  api/tests/Feature/AircraftLogbookItem/AircraftLogbookItemResourcesTest.php
Labels: api

.github/labeler.yml:

# Add 'core' label to any root file changes
core:
  - '*'
  - '.github/**/*'

# Add 'documentation' label to any changes on .md or .rst file
documentation:
  - '**/*.md'
  - '**/*.rst'

# Add 'admin' label to any change within the admin-bundle
admin: 'administration/**/*'

# Add 'api' label to any change within the api-bundle
api: 'api/**/*'
